<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aolalabs.partywolf"
    >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".InitializeApp"
        android:allowBackup="true"
        >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id"/>
        <activity
            android:name=".LoginA"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity android:name=".PostTableA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AddEmailA"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity android:name=".ClassOfA"/>

        <activity android:name=".LoadingA"/>
        <activity android:name=".NewPostA"/>
        <activity android:name=".EventDetailA"/>
        <activity android:name=".EventDetailLoadingA"/>

        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Learn_More"
            android:label="@string/title_activity_learn__more" >
        </activity>
        <activity
            android:name=".Date"
            android:label="@string/date" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Hype"
            android:label="@string/hype" >
            <intent-filter>
                <action android:name="com.aloalabs.partywolf.Hype" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Add"
            android:label="@string/add" >
            <intent-filter>
                <action android:name="com.aloalabs.partywolf.Add" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/settings" >
            <intent-filter>
                <action android:name="com.aloalabs.partywolf.Settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Privacy"
            android:label="@string/title_activity_privacy" >
        </activity>
        <activity
            android:name=".TermsOfService"
            android:label="@string/title_activity_terms_of_service" >
        </activity>
        <activity
            android:name=".ContactUs"
            android:label="@string/title_activity_contact_us" >
        </activity>
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name.
                -->
                <category android:name="com.aloalabs.partywolf" />
            </intent-filter>
        </receiver>

        <!--
                  com.parse.ParsePushBroadcastReceiver may need to change
                  consult https://parse.com/tutorials/android-push-notifications for help
                -->
        <receiver android:name="com.parse.ParsePushBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e01e05dc4c9bfac8d158d5f26fd9c7be5f4ade07" />
    </application>

</manifest>
